body {
  font-family: 'Antic Slab', Lucida Console, Monaco5, monospace;
  height: 100vh;
  background-color: #52B3A5;
}

h1, h2 {
  text-align: center;
}

.area-width {
	width: 400px;
	margin: auto;
}

.search-bar {
	width: 400px;
	height: 30px;
  	margin-top: 10px;
  	margin-bottom: 10px;
  	text-align: left;
  	font-size: 15px;
}

.options-list {
  width: 400px;
  display: flex;
  justify-content: flex-start;
}

.button-style {
  background: #b56969;
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 12px;
  padding: 15px;
  margin: 5px;
}

button:last-of-type {
  margin-left: auto;
  margin-right: -3px;
}

.list-box {
  width: 400px;
  height: 400px;
  overflow-y: scroll
}


.list-item {
  position: relative;
  background-color: #fff;
  height: auto;
  min-height: 50px;
  margin-bottom: 4px;
  padding: 4px;
  border-radius: 2px;
}

.list-item > p {
  text-align: left;
  color: #D3D3D3;
}

.list-title {
  width: 80%;
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-body {
  word-wrap: normal;
}

.toggle-button {
  position: absolute;
  right: 5px;
  top: 5px;
  outline: none;
  border: none;
  align-content: center;
  justify-content: center;
  box-shadow: none;
  text-align: center;
  background: none;
  color: #5E5E5E;
}
